*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/* UTILITIES */
h5{
    font-size: 1rem;
}

h2{
    font-size: 1.8rem;
}

p{
    font-size: 0.9rem;
}
/* HEADER */
header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}
.mobile-logo{
    width: 45px;
}

.logo{
    width: 130px;
}

#search-bar{
    background-color: rgba(202, 202, 202, 0.541);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cerca{
    background-color: #e5e5e5;
    color: #4e4e4e;
}

.bell-button{
    border: none;
    background-color: transparent;
}
/* SIDE-BAR */
#side-bar{
    background-image: url(../assets/img\ 2/sidebar-bg.png);
    background-color: #041e35;
    width: 70px;
    position: fixed;
    left: 0;
    top: 61.5px;
    bottom: 0px;
}

.content-side-bar{
    background-color: pink;
}

/* MAIN */
main{
    margin-left: 70px;
    margin-top: 51.5px;
}

/* BOOLEAN */
#boolean{
    background-color: #1b72e8;
    color: white;
}


#button-plus{
    padding:1px 11px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 22px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

#button-plus:hover{
    background-color: white;
    color: black;
}

.badge-boolean, .badge-table-green, .badge-table-yellow, .badge-table-red{
    font-weight: 400;
}

.badge-boolean{
    background-color: #175aba;
    font-size: 13px;
}

/* CLASSES */
.line{
    border: 1px solid rgba(172, 172, 172, 0.5);
    border-top: none;
    border-left: none;
    border-right: none;
}

.img-table{
    width: 25px;
}

.actions-classes{
    color: #797979;
    border: 1px solid #797979;
    padding: 5px;
    border-radius: 5px;
}

.bigger{
    width: 50%;
}

/* GRAPH */
.graph-img{
    width: 100%;
}

/* MEDIA QUERY */
/* desktop */
@media screen and (min-width: 1200px){
    #side-bar{
        width: 150px;
    }
    main{
        margin-left: 150px;
    }
    .content-boolean-center{
        text-align: center;
    }
}
